<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IDS Model</title>
    <link rel="icon" type="image/x-icon" href="../static/CSS/images/network.png">
    <link rel="stylesheet" type="text/css" href="../static/CSS/index.css">
     <!--<link rel="stylesheet" type="text/css" href="static/CSS/index1.css">-->
    <link href="https://fonts.cdnfonts.com/css/isocteur" rel="stylesheet">
    <style>
        @import url('https://fonts.cdnfonts.com/css/isocteur');
    </style>

</head>
<body>
    <div class="container">
        <section class="one">
            <div class="type">
                <div class="text">INTRUSION DETECTION SYSTEM</div>
            </div>
            
        </section>

        <section class="two">
            <div class="IDS">
                <div class="glitch">
                    <h1 class="line" data-text="INTRUSION DETECTION ??????" >INTRUSION DETECTION SYSTEM</h1>
                </div>
                <h1 class="intro">Ensure the Safety of your Network using</h1>
                <p class="secintro">KNOWLEDGE DISCOVERY IN DATABASES</p>
            </div>
            <div class="blur" id="button">
                <button class = "button" id="commence" onclick="window.location.href= '/model'">Commence Intrusion <br> Detection</button>
            </div>
        </section>
    </div>
<script src="../static/JavaScript/index.js"></script>
</body>
</html>