<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload DataSet</title>
    <link rel="icon" type="image/x-icon" href="static/CSS/images/file.png">
    <link rel="stylesheet" type="text/css" href="static/CSS/upload.css"> 
    <link href="https://fonts.cdnfonts.com/css/isocteur" rel="stylesheet">
    <style>
        @import url('https://fonts.cdnfonts.com/css/isocteur');
            /* Style for the Choose File input field */
    
    </style>
</head>
<body>
    <div class="container">
      <div class="black-container">
        <section class="black-section">
         <div class="black">
           <a href="/model" id="image-link">
               <img src="static/CSS/images/back cyan.png" alt="" class="back" id="back">
            </a>
           <div class="text">
             UPLOAD YOUR DATASET FOR TESTING
           </div>
         </div>
        </section>
     </div>
      <section class="content-section">
            <div class="box">
              <div class="text_under">
                <h1 class="red">NOTE: THIS FILE HAS TO BE IN <br> THE CSV FORMAT <br>
                AND MUST BE IN THE SAME FORMAT AS <br>
                THE NSL-KDD DATASET.</h1>
                <h1 class="dt">Please Choose your file</h1>
              </div>
              
              <div class="click">
                <form action="/submit" method="POST" enctype="multipart/form-data" accept=".csv">
                    <label for="csv" class="drop-container" id="dropcontainer">
                      Drop files here
                      <br>
                        or
                      <input type="file" name="file" id="file" accept="CSV/*" required>
                      <input type="submit" value="sumbit file">
                    </label>
                </form>
              </div>
            </div>
          
      </section>
    </div>
</body>
</html>